*.diff
*.patch
*.orig
*.rej

*~
*.a
*.lo
*.o
*.dylib

*.gcda
*.gcno
*.gcov

/example
/example64
/examplesh
/libz.so*
/minigzip
/minigzip64
/minigzipsh
/zlib.pc
/configure.log

.DS_Store
*.lst
*.obj
*.user
*.vsidx
*.lock
*.suo
*.db
*.exe
*.recipe
*.ilk
*.log
*.pdb
*.txt
*.idb
*.tlog
*.lastbuildstate
*.dll
*.exp
*.lib
*.map
*.res
contrib/BCB/zlib.cbproj.local
contrib/BCB/__astcache/
*.d
*.iobj
*.ipdb
*.cod
